*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.icon-box{
  background-color: rgb(84, 84, 241);
}
.icon-box>ul{
  list-style: none;
}
.icon-box>ul>li{
  float: right;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 0 5px;
  cursor: pointer;
}
.icon-box>ul>li>#icon{
  color: white;
  font-size: 33px;
  padding: 15px;
}
.border{
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: aqua;
  bottom: 0;
  left: -100%;
  /* opacity: 0; */
   animation: ani 1.2s linear infinite; 
  transition: all .8s;
}
@keyframes ani {
  0%{
  left: -100%;
  }
  100%{
      left: 100%;
  }
  
}